body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}


header{
    background-color: #333;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
}

nav{
    background-color:rgb(119, 141, 169);
    overflow: hidden;
    text-align: center;
}

nav a{
    display: inline-block;
    color:rgb(14, 14, 13);
    padding: 14px, 20px;
    text-decoration: none;
}

nav a:hover{
    background-color:rgb(255, 255, 255);
}
section{
    padding: 20px;
    background-color: #e2f1f4;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    padding: 20px;
}

.column.side{
    flex: 25%;
    background-color: #dddddd;
}

.column.middle{
    flex:30%;
    background-color: #a8a6a7;
}
.gallery-section{
    padding: 20px;
    background-color: #313230;
    text-align: center;
}
.gallery-section h2{
    margin-bottom: 20px;
    color: #fff;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 10px;
}
.gallery-item{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.gallery-item img{
    width: 100%;
    height: auto;
    display: block;
}
.contact-section{
    padding: 20px;
    background-color: #fff;
}

.contact-section div{
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: #e2f1f4;
}

.contact-section h1{
    text-align: center;
    color:#333;
    margin-bottom: 25px;
}

.contact-section label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section input[type="password"],
.contact-section input[type="date"],
.contact-section input[type="file"],
.contact-section select,
.contact-section textarea {
    width: 100px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 15px;
    transition: 0.3s;
    background-color: #fafafa;
}

/*focus section */
.contact-section input:focus,
.contact-section select:focus,
.contact-section textarea:focus {
    outline: none;
    border-color:#3e5bbb;
    box-shadow: 0 0 5px rgba(68, 68, 68, 0.3);
}


.gender-group,
.education-group{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 15px;
}

.gender-group label,
.education-group label{
  margin: 0;
   font-weight: normal
}



/*text area*/
.contact-section textarea{
    resize: vertical;
    min-height: 120px;
}

/*buttons*/

.contact-section input[type="submit"],
.contact-section input[type="reset"],
.contact-section input[type="button"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 24px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.contact-section input[type="submit"]:hover,
.contact-section input[type="reset"]:hover
.contact-section input[type="button"]:hover{
    background-color: #3e5bbb;
    transform: translateY(-2px);
}







