body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}


header{
    background-color: #333;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
}

nav{
    background-color:rgb(119, 141, 169);
    overflow: hidden;
    text-align: center;
}

nav a{
    display: inline-block;
    color:rgb(14, 14, 13);
    padding: 14px, 20px;
    text-decoration: none;
}

nav a:hover{
    background-color:rgb(255, 255, 255);
}
section{
    padding: 20px;
    background-color: #e2f1f4;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    padding: 20px;
}

.column.side{
    flex: 25%;
    background-color: #dddddd;
}

.column.middle{
    flex:30%;
    background-color: #a8a6a7;
}
.gallery-section{
    padding: 20px;
    background-color: #313230;
    text-align: center;
}
.gallery-section h2{
    margin-bottom: 20px;
    color: #fff;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 10px;
}
.gallery-item{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.gallery-item img{
    width: 100%;
    height: auto;
    display: block;
}

